<mat-horizontal-stepper [linear]="true" #stepper>

  <!-- Student Verification -->
  <mat-step [completed]="stepper1Valid && questionCountValid && examDetails[0]?.examVerified == 1">
    <ng-template matStepLabel>Verification</ng-template>
    <div class="container-fluid">
      <div class="col-sm-12 Table" *ngFor="let exam of examDetails; let index=index">
        <mat-accordion>
          <mat-expansion-panel class="mb-3">
            <mat-expansion-panel-header class="ExpansionHeader py-5">
              <mat-panel-title>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="pt-3 col-sm-1">
                      <span class="check-box">
                      <mat-checkbox [matTooltip]="exam.verified?'Exam Verified': 'Verify Exam'" [disabled]="exam?.examVerified == 1" (change)="Stepper1Verification()" 
                      [(ngModel)]="exam.verified" class="matCheckboxClass">
                      </mat-checkbox>
                    </span>
                    </div>
                    <div class="col-sm-9">
                      <span class="TitleCaption w-100">{{exam?.examName}}</span>
                    </div>
                    <div class="col-sm-2 pt-2">
                      <span class="Desc">
                        Registered Students:
                        {{exam?.studentList?.data?.length}}
                      </span>
                    </div>
                  </div>
                </div>
              </mat-panel-title>
              <!-- <mat-panel-description>
                <div class="row pt-3">
                  <span class="Desc">
                    Registered Students:
                    {{exam?.studentList?.data?.length}}
                  </span>
                </div>
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-sm-10">
                <mat-form-field class="w-100">
                  <mat-label>Filter</mat-label>
                  <input (keyup)="applyFilter($event.target.value, index)" matInput placeholder="Filter">
                </mat-form-field>
              </div>
              <div class="col-sm-2">

                <mat-form-field class="w-100" appearance="outline" *ngIf="exam.ExamType!=23">
                  <mat-label>Shuffle Count</mat-label>
                  <input [disabled]="exam?.examVerified == 1" maxlength="2" (input)="QuestionCountValidCheck()" (keypress)="dataService?.NumberOnly($event)" 
                  [(ngModel)]="exam.shuffleCount" matInput placeholder="Shuffle Count">
                </mat-form-field>
              </div>
            </div>
            <mat-table [dataSource]="exam?.studentList" matSort>
              <!--- Note that these columns can be defined in any order.
                                                            The actual rendered columns are set as a property on the row definition" -->

              <!-- SNO Column -->
              <ng-container [matColumnDef]="displayedColumns[0]">
                <mat-header-cell class="tableHeader" *matHeaderCellDef> {{headerCaption?.caption1}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index;">
                  {{(i+1) + (myPaginator.pageIndex * myPaginator.pageSize)}} </mat-cell>
              </ng-container>

              <!-- name Column -->
              <ng-container [matColumnDef]="displayedColumns[1]">
                <mat-header-cell class="tableHeader" *matHeaderCellDef mat-sort-header>
                  {{headerCaption?.caption2}} </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{element[displayedColumns[1]]}}
                </mat-cell>
              </ng-container>

              <!-- hall ticket no Column -->
              <ng-container [matColumnDef]="displayedColumns[2]">
                <mat-header-cell class="tableHeader" *matHeaderCellDef mat-sort-header>
                  {{headerCaption?.caption3}} </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{element[displayedColumns[2]]}} </mat-cell>
              </ng-container>

              <!-- system no Column -->
              <ng-container [matColumnDef]="displayedColumns[3]">
                <mat-header-cell class="tableHeader" *matHeaderCellDef mat-sort-header>
                  {{headerCaption?.caption4}} </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{element[displayedColumns[3]]}} </mat-cell>
              </ng-container>

              <!-- action Column -->
              <ng-container *ngIf="!isProctored" [matColumnDef]="displayedColumns[4]">
                <mat-header-cell class="tableHeader" *matHeaderCellDef>
                  {{headerCaption?.caption5}} </mat-header-cell>
                <mat-cell *matCellDef="let element; let i=index">
                  <button
                    (click)="SingleStudentVerification(element, index, i + (myPaginator.pageIndex * myPaginator.pageSize))"
                    [disabled]="element?.verified || exam?.examVerified == 1" mat-flat-button class="Submit">
                    <span *ngIf="!element?.verified">Verify</span>
                    <span *ngIf="element?.verified">Verified</span>
                  </button>
                </mat-cell>
              </ng-container>
              


              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="col-sm-12 d-flex justify-content-center p-3" *ngIf="exam?.studentList?.data?.length == 0">
              No data available
            </div>
            <div class="row">
              <div class="col-sm-12">
                <mat-paginator #myPaginator style="background: transparent" [pageSize]="50"
                  [pageSizeOptions]="[50, 75, 100]">
                </mat-paginator>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="row m-4 d-flex justify-content-end">
        <!-- <div class="col-sm-10">
          <mat-form-field class="w-100">
            <mat-label>Question Shuffle Count</mat-label>
            <input (keypress)="dataService?.NumberOnly($event)" [disabled]="!stepper1Valid" maxlength="1"
              [(ngModel)]="questionCount" matInput placeholder="Question Shuffle Count">
          </mat-form-field>
        </div> -->
        <div class="col-sm-1">
          <button [disabled]="!stepper1Valid || questionShuffled == 'true' || !questionCountValid || examDetails[0]?.examVerified == 1" mat-raised-button
            class="Submit" mwlConfirmationPopover
            [popoverTitle]="popoverTitleSubmitStepper1"
            [popoverMessage]="popoverMessageSubmitStepper1"
            placement="top"
            (confirm)="SubmitStepper1()">Submit</button>
        </div>
        <div class="col-sm-1">
          <button (click)="NextToStepper2()" [disabled]="!stepper1Valid || !questionCountValid || examDetails[0]?.examVerified == 0" mat-raised-button
            color="primary" matStepperNext>Next</button>
        </div>
      </div>
    </div>
  </mat-step>

  <!-- Student Assignment -->
  <mat-step>
    <ng-template matStepLabel>Student Verification</ng-template>
    <div class="row d-flex justify-content-center"
      *ngFor="let details of studentAssignmentExamDetails; let index=index;">
      <div class="col-sm-10 p-3 StudentAssignmentTable">
        <mat-card>
          <div class="row d-flex justify-content-center">
            <!-- {{details?.examName}} -->
            <u>
            <span class="font-weight-bold">{{details?.examName}}</span>
              </u>
          </div>
          <!-- <div class="col-sm-12">
            <mat-form-field class="w-100">
              <mat-label>Filter</mat-label>
              <input (keyup)="applyFilterStudentAssignment($event.target.value, index)" matInput placeholder="Filter">
            </mat-form-field>
          </div> -->
          <mat-table [dataSource]="details?.studentList" matSort>
            <!--- Note that these columns can be defined in any order.
                                                      The actual rendered columns are set as a property on the row definition" -->

            <!-- SNO Column -->
            <ng-container [matColumnDef]="studentAssignmentColumns[0]">
              <mat-header-cell class="tableHeader" *matHeaderCellDef> {{studentAssignmentCaption?.caption1}}
              </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index;">
                {{(i+1) + (studentAssignmentPaginatorSize.pageIndex * studentAssignmentPaginatorSize.pageSize)}}
              </mat-cell>
            </ng-container>

            <!-- name Column -->
            <ng-container [matColumnDef]="studentAssignmentColumns[1]">
              <mat-header-cell class="tableHeader" *matHeaderCellDef mat-sort-header>
                {{studentAssignmentCaption?.caption2}} </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{element[studentAssignmentColumns[1]]}}
              </mat-cell>
            </ng-container>

            <!-- hall ticket no Column -->
            <ng-container [matColumnDef]="studentAssignmentColumns[2]">
              <mat-header-cell class="tableHeader" *matHeaderCellDef mat-sort-header>
                {{studentAssignmentCaption?.caption3}} </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{element[studentAssignmentColumns[2]]}} </mat-cell>
            </ng-container>

            <!-- system no Column -->
            <ng-container [matColumnDef]="studentAssignmentColumns[3]">
              <mat-header-cell class="tableHeader" *matHeaderCellDef mat-sort-header>
                {{studentAssignmentCaption?.caption4}} </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{element[studentAssignmentColumns[3]]}} </mat-cell>
            </ng-container>
            <div *ngIf="!isProctored">
                <!-- Question Pattern Column -->
                <ng-container  [matColumnDef]="studentAssignmentColumns[4]">
                  <mat-header-cell class="tableHeader d-flex justify-content-center" *matHeaderCellDef mat-sort-header>
                    {{studentAssignmentCaption?.caption5}} </mat-header-cell>
                  <mat-cell class="d-flex justify-content-center" *matCellDef="let element">
                    {{element[studentAssignmentColumns[4]]}} </mat-cell>
                </ng-container>

                <!-- status Column -->
                <ng-container [matColumnDef]="studentAssignmentColumns[5]">
                <mat-header-cell class="tableHeader d-flex justify-content-center" *matHeaderCellDef>
                  {{studentAssignmentCaption?.caption6}} </mat-header-cell>
                <mat-cell class="d-flex justify-content-center" *matCellDef="let element; let i=index">
                    <mat-slide-toggle (click)="$event.preventDefault()" 
                    [matTooltip]="element?.status"
                    [checked]="element?.status == 'online'"></mat-slide-toggle>
                </mat-cell>
                </ng-container>

                <!-- verified Column -->
                <ng-container [matColumnDef]="studentAssignmentColumns[6]">
                <mat-header-cell class="tableHeader d-flex justify-content-center" *matHeaderCellDef>
                  {{studentAssignmentCaption?.caption7}} </mat-header-cell>
                <mat-cell class="d-flex justify-content-center" *matCellDef="let element; let i=index">
                  <button *ngIf="element?.isVerified" [disabled]="(element?.isVerified || element.faceRecognitionStatus)" style="color: green" mat-icon-button>
                    <mat-icon>done_all</mat-icon>
                  </button>
                  <button matTooltip="Verify Now" (click)="StudentAssignmentSingleStudentVerification(element, index, i)" 
                  *ngIf="!element?.isVerified" color="primary" mat-icon-button>
                    <mat-icon>vpn_key</mat-icon>
                  </button>
                </mat-cell>
                </ng-container>
            </div>
             
            <div *ngIf="isProctored">
              <!-- Question Pattern Column -->
             

              <!-- status Column -->
              <ng-container [matColumnDef]="studentAssignmentColumns[4]">
              <mat-header-cell class="tableHeader d-flex justify-content-center" *matHeaderCellDef>
                {{studentAssignmentCaption?.caption5}} </mat-header-cell>
              <mat-cell class="d-flex justify-content-center" *matCellDef="let element; let i=index">
                  <mat-slide-toggle (click)="$event.preventDefault()" 
                  [matTooltip]="element?.status"
                  [checked]="element?.status == 'online'"></mat-slide-toggle>
              </mat-cell>
              </ng-container>

              <!-- verified Column -->
              <ng-container [matColumnDef]="studentAssignmentColumns[5]">
              <mat-header-cell class="tableHeader d-flex justify-content-center" *matHeaderCellDef>
                {{studentAssignmentCaption?.caption6}} </mat-header-cell>
              <mat-cell class="d-flex justify-content-center" *matCellDef="let element; let i=index">
                <button *ngIf="element?.isVerified" [disabled]="(element?.isVerified || element.faceRecognitionStatus)" style="color: green" mat-icon-button>
                  <mat-icon>done_all</mat-icon>
                </button>
                <button matTooltip="Verify Now" (click)="StudentAssignmentSingleStudentVerification(element, index, i)" 
                *ngIf="!element?.isVerified" color="primary" mat-icon-button>
                  <mat-icon>vpn_key</mat-icon>
                </button>
              </mat-cell>
              </ng-container>
          </div>

            <mat-header-row *matHeaderRowDef="studentAssignmentColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: studentAssignmentColumns;"></mat-row>
          </mat-table>
          <div class="col-sm-12 d-flex justify-content-center p-3" *ngIf="details?.studentList?.data?.length == 0">
            No data available
          </div>
          <div class="row">
            <div class="col-sm-12">
              <mat-paginator #studentAssignmentPaginatorSize style="background: transparent" [pageSize]="50"
                [pageSizeOptions]="[50, 75, 100]">
              </mat-paginator>
            </div>
          </div>
        </mat-card>
      </div>

    </div>
    <div class="row w-100 d-flex justify-content-end">
      <div class="col-sm-2">
          <button mat-raised-button class="Submit" mwlConfirmationPopover
          [popoverTitle]="popoverTitleSubmitStepper2"
          placement="top" [disabled]="!stepper2Valid"
          (confirm)="SubmitStepper2()">Start Exam</button>
          <!-- [disabled]="!stepper2Valid" -->
      </div>
    </div>
  </mat-step>

</mat-horizontal-stepper>