@import "../../../styles.scss";

.ToolBar {
  background-color: color(primary);
  color: color(basic);
  font-weight: bold;

  .LogoImg {
    height: 70%;
    width: auto;
  }
  .userImg {
    min-width: 35%;
    max-width: 35%;
    max-height: 90px;
  }
  .userName {
    font-size: 0.5em;
  }
}

::ng-deep .mat-menu-content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

::ng-deep .mat-menu-panel {
  min-height: 0px !important;
}
