<div class="col-sm-12 min-vh-100">
    <!-- style="background-image:url(../../../assets/Images/exam.jpg)" -->
    <div class="row">
        <mat-toolbar class="ToolBar">
            <mat-toolbar-row>
                <img class="LogoImg" [src]="logo?.img" alt="logo?.alt">
                <span class="ml-3 w-100 col-sm-9">MGUONLINE EXAMINATION</span>
                <span *ngIf="(dataService?.isNotLoginScreen | async) && !(dataService?.warning | async)" class="d-flex justify-content-end py-5">
                    <img class="userImg rounded p-3" [src]="(dataService?.studentData | async)?.photo" alt="">
                    <span class="userName p-2 mt-2">{{(dataService?.studentData | async)?.fullName}}
                        <!-- <button matTooltip="Logout" color="warn" (click)="Logout()" mat-icon-button>
                            <mat-icon>power_settings_new</mat-icon>
                        </button> -->
                    </span>
                    <button matTooltip="Full Screen" *ngIf="(dataService?.warning | async)" 
                    (click)="dataService.toggleFullScreen()" class="mt-2"
                        mat-icon-button color="accent">
                        <mat-icon>settings_overscan</mat-icon>
                    </button>
                </span>
                <!-- <button *ngIf="(dataService?.isNotLoginScreen | async) && (dataService?.sideNavButton | async) && !(dataService?.warning | async)"
                 class="float-right" matTooltip="Show/Hide"
                    (click)="sideNavToggle()" mat-icon-button color="primary">
                    <mat-icon>menu</mat-icon>
                </button> -->


                <span *ngIf="(dataService?.controllerLogin | async) && !(dataService?.warning | async)">
                    <span class="userName mt-2">{{(dataService?.controllerData | async)?.email}} </span>
                    <button matTooltip="Logout" color="warn" (click)="Logout()" mat-icon-button>
                        <mat-icon>power_settings_new</mat-icon>
                    </button>
                </span>

            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <router-outlet></router-outlet>
</div>