<div class="container mt-4">
    <div class="col-sm-12">
        <div style="overflow: hidden; padding-left: 13px">
            <div style="height: 93%; width: 100%; overflow: auto;">
                <span class="Title">Instructions</span>
                <span class="d-flex justify-content-center">
                    <span class="text-danger">**</span>
                    Please read the instructions carefully 
                    <span class="text-danger">**</span>
                </span>
                <p><strong><u>General Instructions:</u></strong></p>
                <ol style="TEXT-ALIGN: left; LIST-STYLE-TYPE: decimal; PADDING-LEFT: 4%; PADDING-TOP: 3px">
                    <li>Ensure that your Photo, name and register number/roll number is showing correctly on the allocated system.</li>
                    <li>Total of <strong>{{user?.duration}} Minutes</strong> will be given to attempt the questions.</li>
                    <li>Your clock has been set at the server and you can view the countdown timer at the top righthand side of the screen, 
                        through which, you can monitor how much time is left for you to complete the exam. When the timer reaches <strong>zero</strong>, 
                        the examination will stop by itself.</li>
                    <li>The question palette displayed on the righthand side of the screen will show the status of each 
                        question using one of the colour which is mentioned below. 
                        <table style="FONT-SIZE: 100%">
                            <tbody>
                                <tr>
                                    <td class="p-1"><span title="Not Visited">
                                        <button class="NotVisited my-fab" mat-mini-fab>1</button>
                                    </span></td>
                                    <td class="p-1">You have not visited the question yet.</td>
                                </tr>
                                <tr>
                                    <td class="p-1"><span title="Not Answered">
                                        <button class="Visited my-fab" mat-mini-fab>2</button>
                                    </span></td>
                                    <td class="p-1">You have not answered the question.</td>
                                </tr>
                                <tr> 
                                    <td class="p-1"><span title="Answered">
                                        <button class="Answered my-fab" mat-mini-fab>3</button>
                                    </span></td>
                                    <td class="p-1">You have answered the question.</td>
                                </tr>
                                <tr>
                                    <td class="p-1"><span title="Marked for Review">
                                        <button class="Review my-fab" mat-mini-fab>4</button>
                                    </span></td>
                                    <td class="p-1">You have marked the question for review.
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td><span title="Answered &amp; Marked for Review">
                                        <button class="NotVisited my-fab" mat-mini-fab>5</button>
                                        </span></td>
                                    <td>The question(s) "Answered and Marked for Review" will be considered for
                                        evaluation.</td>
                                </tr> -->
                            </tbody>
                        </table>
                    </li>
                    <li style="LIST-STYLE-TYPE: none">Marked for Review’ status for a question indicates that you would 
                        like to look at that question again later. <i><strong>If an answer for a particular question is marked for review, 
                        that answer will be considered for final review.</strong></i></li>
                </ol>
                <br> <strong><u>Navigating to a Question:</u></strong><br>
                <ol start="5" style="TEXT-ALIGN: left; LIST-STYLE-TYPE: decimal; PADDING-LEFT: 4%; PADDING-TOP: 3px ">
                    <li>In order to select a question from the list, simply click the desired question number from the question palette.</li>
                </ol>
                <p><b><u>Answering a Question : </u></b></p>
                <ol start="6" style="TEXT-ALIGN: left; LIST-STYLE-TYPE: decimal; PADDING-LEFT: 4%; PADDING-TOP: 3px ">
                    <li>Procedure for answering a multiple-choice type question (MCQ): <ol
                            style="TEXT-ALIGN: left; PADDING-LEFT: 4%; PADDING-TOP: 3px " type="a">
                            <li>To select your answer, click the button of the corresponding option.</li>
                            <li>To deselect your chosen answer, click the <strong>Clear Response</strong> button.</li>
                            <li>To change your chosen answer, click the button of the newly identified answer.</li>
                        </ol>
                        <!-- <ol start="7" style="PADDING-LEFT: 1px; ">
                            <li>To change your answer to a question that has already been answered, first select that
                                question for answering and then follow the procedure for answering that type of
                                question.</li>
                        </ol> -->
                    </li>
                </ol>
                <p><b><u>Saving your answer:</u></b></p>
                <ol start="7" style="TEXT-ALIGN: left; LIST-STYLE-TYPE: decimal; PADDING-LEFT: 4%; PADDING-TOP: 3px ">
                    <li>Following buttons would be available at the bottom of the question window:
                        <table style="FONT-SIZE: 100%">
                            <tbody>
                                <tr>
                                    <td class="p-1">
                                        <button color="accent" mat-raised-button>
                                            Mark for review
                                        </button>
                                    </td>
                                    <td class="p-1">
                                        <button color="warn" mat-raised-button>
                                            Clear Response
                                        </button>
                                    </td>
                                    <td class="p-1">
                                        <button class="Submit" mat-raised-button>
                                            Previous
                                        </button>
                                    </td>
                                    <td class="p-1">
                                        <button class="Submit" mat-raised-button>
                                            Save & Next
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>Mark for review means you want to review that question again.</li>
                    <li>By clicking on the clear response button, you can clear the option you have selected</li>
                    <li>Previous button is used to save the response of a particular question and move to previous question.</li>
                    <li>Save and next button is used to save the response of a particular question and move to next question.</li>
                </ol> <b><u>Access through examination:</u></b>
                <ol start="12" style="TEXT-ALIGN: left; LIST-STYLE-TYPE: decimal; PADDING-LEFT: 4%; PADDING-TOP: 3px ">
                    <!-- <li>Candidate can change their response at any point of time within the stipulated time frame. 
                        To remove the incorrect answer, click on the desired option button.</li> -->
                    <li>Candidate can shuffle between the questions within the time frame. 
                        This is done by selecting the question randomly by just clicking the question number displayed on the question palette.</li>
                    <li>Clicking the <strong>Submit</strong> button after the timer runs out, you will be automatically taken to the summary section.</li>
                    <li>You can view the examination summary as a part of the legend appearing above the Question Palette.</li>

                </ol>
            </div>
            <span style="background-color:#FFFF00;">  Note : 
                <ul>
                    <li>If any malpractice occurs your computer will get locked.</li>
                    <li>You will only be able to unlock it using the code provided by the Invigilator.</li>
                    <li>If any issue occurs with your computer <strong> 
                        <span class="text-danger">**</span>Please contact Invigilator <span class="text-danger">**</span>
                    </strong> as soon as possible.</li>
                </ul>
            </span>
        </div>
        <button *ngIf="showNextButton" (click)="Next()" matTooltip="Next" mat-mini-fab color="accent" class="bottomButton">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>
</div>