@import '../../../../styles.scss';

.MasterTimer{
    font-size: 2.5em;
    font-weight: bold;
    color: color(primary);
}
.wid{
    width: 1116px;
}
.Table{
    .mat-column-sno {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 8% !important;
        width: 8% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
      }
      .mat-column-systemNo {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 10% !important;
        width: 10% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
      }
      .mat-column-action {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 25% !important;
        width: 25% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
    
        word-break: break-word;
    
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
      }
    .Pause{
        color: color(success);
    }
    .Resume{
        color: color(warn);
    }
    .Stop{
        color: red;
    }
    .SuccessIcon{
        color: color(darkSuccess);
    }
    .DefaultButton{
        color: lighten(gray, 20) !important;
    }
}